
@font-face {
    font-family: "HyundaiFont"; /* Replace with your font name */
    src: url("./fonts/HyundaiSansHead-Regular.otf") format("opentype");
    font-weight: normal; /* Optional: Specify weight */
    font-style: normal; /* Optional: Specify style */
  }
  .side-panel {
    display: none;
    position: fixed;
    top: 0;
    right: -400px; /* Initially hidden offscreen */
    width: 400px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 10;
    display: flex;
    flex-direction: column;
    font-family: 'HyundaiFont', sans-serif;
    overflow-y: auto; /* Enable scrolling for overflow content */
  }
  .side-panel.show {
    display: none;

    right: 0; /* Slide in when visible */
  }
  .panel-header {
    background-color: #d3cfc9;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .panel-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .panel-image {
    margin: 10px 0;
    text-align: center;
  }
  
  .panel-image img {
    max-width: 95%;
    height: auto;
    border: 1px solid #ccc;
  }
  .back-image {
    margin: 10px 0;
    text-align: center;
  }
  
  .back-image img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ccc;
  }
  
  .panel-description {
    padding: 10px;
    text-align: justify;
    font-size: 14px;
    flex-grow: 1; /* Push the button to the bottom */
  }
  
  .back-btn {
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    position: sticky; /* Stick to the bottom of the viewport */
    bottom: 0;
    background-color: #fff;
  }
  
  .back-btn:hover {
    background-color: #f0f0f0;
  }
  
  /* Adjust for mobile screens */
  @media (max-width: 768px) {
    .side-panel {
      width: 100%;
      height: 300px;
      position: fixed;
      top: auto;
      bottom: -300px; /* Initially hidden offscreen */
      transition: bottom 0.3s ease-in-out;
      opacity: 0; /* Hidden state */
      display: flex;
      flex-direction: column;
    }
  
    .side-panel.show {
      bottom: 0;
      opacity: 1;
    }
  
    .panel-content {
      flex-direction: row; /* Make image and heading side by side */
      padding: 10px;
      align-items: center; /* Center vertically */
    }
  
    .panel-image {
      width: 80px; /* Adjust image size for mobile */
      margin-right: 10px;
    }
  
    .panel-header h3 {
      font-size: 16px;
      margin: 0;
    }
  
    .panel-description {
      font-size: 12px;
      padding: 5px;
      margin-top: 10px; /* Add space between heading and description */
    }
  
    .back-btn {
      padding: 8px 15px;
      font-size: 12px;
    }
  }
  